// Place all the styles related to the Node controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	overflow-x: hidden;
}
.line{
	stroke: rgb(255,0,0);
	stroke-width: 2;
}
.nodes{
	margin: 0 auto;
	width: 90vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	align-items: center;
	padding-left: 11%;
	// justify-content: space-around;
	a{
		text-decoration: none;
		color: black;
	}
	.node{
		// position: absolute;
		width: 200px;
		height: 200px;
		border-radius: 20px;
		border: 1px solid black;
		background: lightblue;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		text-align: center;
		z-index: 20;
	}
}

.current-node{
	margin: 0 auto;
	width: 90vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	align-items: center;
	padding-left: 11%;
	a{
		text-decoration: none;
		color: black;
	}
	.info{
		width: 200px;
		height: 200px;
		border-radius: 20px;
		border: 1px solid black;
		background: lightblue;
		text-align: center;
	}
}